// index.scss
@import url("reset.css");

$mobile : 480px;
$tablet : 768px;
// body{height:5000px;}
// main{position:fixed; left:0; top:0; width:100%;}

@mixin res($n){
    @media (max-width:$n) {
        @content;
    }
};

aside{
    position: fixed;
    border-radius: 50%;
    width: 53px; height: 53px;
    background-color: #d9d9d9;
    bottom: 40px; right: 40px;
    opacity: 0;
    transition: all ease 0.5s;
    z-index: 99;
    &:hover{
        background-color: black;
        img{
                filter: invert(100%);
        }
    }
    img{
        width: 60%; height: 60%;
        position: absolute;
        top: 20%; left: 18%;
        transition: all ease 0.5s;
        
    }
}
.nohide{
    opacity: 1;
}

header{
        position: fixed;
        // border: 1px solid black;
        width: 100%;
        z-index: 99;
    .index-head-bundle{
        width: 80%;
        margin: 0 auto;
        @include res($tablet){
            width: 90%;
        }
        .header-menu-wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 8vw;
            h1{
                width: 3%;
                @include res($tablet){
                    width: 10%;
                }
                svg{
                    height: 100%; width: 100%;
                }
            }
            .header-menu-item{
                display: flex;
                align-items: center;
                @include res($tablet){
                    justify-content: flex-end;
                }
                a{
                    color: #ffffff;
                    padding: 0 3vw;
                    &:hover{
                        color: #0181c9;
                    }
                }
                .header-search{
                    position: relative;
                    border: 1px solid #ffffff;
                    border-radius: 50px;
                    height: 40px;
                    padding: 0 5px;
                    display: flex;
                    @include res($tablet){
                        display: none;
                    }
                    #header-search-input{
                        border: none;
                        background-color:transparent;
                        text-align: left;
                        border:none;
                        outline: none;
                        color: #ffffff;
                        // height: 30px;
                    }
                    button{
                            svg{
                                path{
                                    fill: #ffffff;
                                }                                
                            }
                    }
                }
            }
        }
    }
}

.sct1{
    width: 100%;
    height: 100vh;
    background: url(../img/index/index_1.jpg);
    background-size: cover;
    position: relative;
    .sct1-title-box{
        position: absolute;
        left: 50%;
        top: 42%;
        height: 23%; width: 100%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: center;
        overflow: hidden;
        @include res($tablet){
            display: block;
            width: 100%;
        }
        p{
            color: #ffffff;
            font-size: 5rem;
            font-weight: bold;
            transition: all ease 1s;
            &:nth-child(2){
                font-weight: normal;
                margin-left: 20px;
                @include res($tablet){
                    margin: 0;
                }
            }
            @include res($tablet){
                text-align: center;
                font-size: 3rem;
            }
        }
        .first{
            transform: translateX(-100%);
        }
        .second{
            padding-top: 65px;
            transform: translateX(100%);
            @include res($tablet){
                padding-top: 0;
            }
        }
    }
    .sct1-line{
        position: absolute;
        top: 44%; left: 0;
        width: 46.4%;
        border: 2px solid #ffffff;
        @include res($tablet){
            width: 100%;
            display: none;
        }
    }
}
.sct2{
    width: 100%; height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    h2{
        color: #ffffff;
        position: absolute;
        font-size: 4rem;
        text-align: center;
        font-weight: bold;
        top: 50%; left: 50%;
        transform: translate(-50% ,-50%);
        z-index: 99;
        @include res($tablet){
            width: 100%;
            font-size: 2rem
        }
    }
    position: relative;
    .swiper {
        position: relative;
        .swiper-wrapper{
            position: absolute;
            display: flex;
            &:nth-child(1){
                animation: slider 8.5s linear infinite;
                @include res($mobile){
                    animation: slider2 12s linear infinite;
                }
            }
            &:nth-child(2){
                animation: slider 8.5s linear infinite;
                left: 155.2%;
                width: 100%;
                @include res($mobile){
                    left: 420%;
                    animation: slider2 12s linear infinite;
                }
            }
            @keyframes slider {
                0% {transform: translate(0%)}
                100%    {transform: translate(-155.2%)}
            }
            @keyframes slider2 {
                0% {transform: translate(0%)}
                100%    {transform: translate(-420%)}
            }
            .swiper-slide{
                transform: translateY(-50%);
                width: 30%;
                text-align: center;
                margin: 0 10px;
                flex-shrink: 0;
                @include res($mobile){
                    width: 100%;
                }
                img{
                    width: 100%; height: 100%;
                }
            }
        }
      }
}

.sct3{
    
    width: 100%; height: 100vh;
    position: relative;
    overflow: hidden;
    .sct3-img-box{
        background-image: url(../img/index/index_5.jpg);
        background-size: cover;
        position: absolute;
        // bottom: 0; 
        width: 100%; height: 100%;
        transition: 1s;
        transform: scaleY(100%) translateY(-100%);
        border-radius: 0%;
    }
    .active{
        transform: scaleY(100%) translateY(-50%);
        border-radius: 0%;
    }
    // .sct3-background-img{
    //     // width: 100%; height: 100vh;
    //     position: absolute;
    //     top: 0; bottom: 0;
    //     // right: -200%; left: -200%;
    //     img{width: 100%; height: 100%; display: block;}
    // }
    h2{
        position: absolute;
        color: #ffffff;
        font-size: 4rem; font-weight: bold;
        bottom: 10%; left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        @include res($tablet){
            width: 100%;
            font-size: 2rem;
            bottom: 10%;
        }
    }
}

.sct4{
    font-size: 4rem;
    height: 100vh;
    .sct4-text-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%; height: 80%;
        margin: 0 auto;
        @include res($tablet){
            justify-content: space-evenly;
        }
        p{
            font-weight: bold;
            color: #FFFFFF;
            text-align: justify;
            transition: 2s;
            font-size: 4rem;
            @include res($tablet){
                font-size: 1.5rem;
            }
        }
        .blank{
            .text-wrpper{
                #text{
                    font-weight: bold;
                    color: #f1f1f1;
                }
            }
        }
        h3{
            font-weight: bold;
            color: #FFFFFF;
            @include res($tablet){
                font-size: 2rem;
            }
        }
        h2{
            font-weight: bold;
            color: #FFFFFF;
            @include res($tablet){
                font-size: 2rem;
            }
        }
        .sct4-text-right{
            text-align: end;
            transition: 1.5s;
            @include res($mobile){
                text-align: center;
            }
            

        }
    }
}

.sct5{
    background: url(../img/index/index_6.jpg) center;
    background-size:cover;
    width: 100%; height: 100vh;
    position: relative;
    h2{
        position: absolute;
        color: #ffffff;
        font-size: 4rem;
        bottom: 30%; left: 63%;
        transform: translate(-50%,-50%);
        @include res($tablet){
            top: 33%;
            left: 50%;
            width: 100%;
            text-align: center;
            font-size: 2rem;
        }
    }
    .sct5-line-box{
        position: absolute;
        right: 0; top: 55.6%;
        width: 29%;
        overflow: hidden;
        @include res($tablet){
            top: 28%;
            
        }
        .sct5-line{
            border: 1px solid #ffffff;
            transform: translateX(-100%);
            transition: all ease 1s;
            @include res($tablet){
                display: none;
            }
        }
    }
    
}

footer{
    height: 50% !important;
    > .fp-tableCell{
        display: block !important;
        height: 10% !important;
    }
    .footer-inner{
        width: 80%;
        margin: 0 auto;
        padding: 53px 0;
        display: flex;
        justify-content: space-between;
        
    }
    li{
        color: white;
    }
    .footer-black-wrap{
        background-color: #000;
        address{
            .address-item-bundle{
                display: flex;
                justify-content: space-around;
               .address-item-menu{
                margin-right: 5vw;
                flex-shrink: 0;
                    a{
                        color: white;
                        font-style: normal;
                    }
                    .address-item-title{
                        font-weight: bold;
                    }
                    div{
                        margin-top: 30px;
                        ul{
                            li{
                                padding-bottom: 17px;
                                font-style: normal;
                            }
                        }
                    }
                    
                }
            }
        }
        
    }
    .footer-s{
        // display: flex;
        color: white;
        width: 50%;
        ul{
            // display: flex;
            text-align: end;
            li{
                display: flex;
                justify-content: flex-end;
                padding-bottom: 10px;
                .footer-line{
                    border: 1px solid #999999;
                    height: 12px; width: 0;
                    transform: translateY(40%);
                    margin: 0 7px;
                }
                p{
                    color: #999999;
                }
                
            }
        }
    }
    .footer-white-wrap{
        h2{
            width: 139px;
            img{
               width: 100%; 
            }
        }
        .footer-white-line{
            border-bottom: 1px solid black;
            padding-bottom: 20px;
        }
        .footer-sub-menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;
            nav{
                a{
                    margin-right: 38px;
                }
            }
        }
        .footer-white-wrap-icon-box{
            display: flex;
            li{
                width: 33px;
                padding-right: 9px;
                img{
                    width: 100%;
                }
            }
        }
        .footer-sub-address{
            p{
                color: #999999;
            }
        }
        .test{
            justify-content: flex-end;
            text-align: right;
        }
    }
}